<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>基础地图显示</title>
    <link rel="stylesheet"  href=" http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"/>
    <script src="static/lib/fengmap.min.js"></script>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

</head>
<body>
<div id="fengMap" class="col-md-12 " style="height:570px" ></div>
<button id="button" type="button" class="btn btn-primary" >刷新地图</button>
<a id="table" class="btn btn-primary" href="/table" target="_blank">用户表</a>
<script src="static/lib/map.js"></script>
</body>
</html>